.userSearch[open] {
	padding: 0px;
	margin-block: 0px;
	top: 75px;
	width: min(600px, 100%);
	border: unset;
	background-color: #0B1622;
	border-radius: 10px;
	overflow: visible;
	display: flex;
	max-height: calc(100% - 100px);
	flex-direction: column;
}

.userSearch form {
	display: flex;
}

.userSearch i {
	position: absolute;
	font-size: 16px;
	top: 18px;
	left: 18px;
	font-weight: 900;
}

.search i {
	margin-right: 5px;
}

.userInput {
	border: none;
	outline: none;
	padding-left: 50px;
	padding-right: 18px;
	width: 100%;
	font-size: 16px;
	font-weight: 700;
	height: 52px;
	background-color: transparent;
}

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear {
	display: none;
	width: 0;
	height: 0;
}

input[type=search]::-ms-reveal {
	display: none;
	width: 0;
	height: 0;
}

/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}


.userList {
	overflow: auto;
	border-radius: 0px 0px 10px 10px;
}

.userSearch::backdrop {
	background-color: rgba(0, 0, 0, 0.75);
	backdrop-filter: blur(5px);
}