.user-search-dialog {
	background-color: #0b1622;
	width: min(600px, 100%);
	max-height: calc(100% - 100px);
	margin-top: 75px;
	padding: 0;
	border-radius: 10px;
	border: unset;
	overflow: visible;

	&[open] {
		display: flex;
	}

	&::backdrop {
		background-color: var(--clr-shadow-500);
		backdrop-filter: blur(5px);
	}

	@at-root .dialog-container {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
}
