html {
	color-scheme: dark;
}

body {
	font-family: system-ui;
	overflow-y: scroll;
}

.capitalize {
	display: inline-block;
}

.capitalize::first-letter {
	text-transform: uppercase;
}

svg {
	fill: currentColor;
}

body {
	display: grid;
	margin: 16px;
	justify-items: center;
}

#root {
	max-width: clamp(300px, 1400px, 100% - 32px);
	display: grid;
	place-items: center;
}

.format::after {
	position: relative;
	content: "";
	width: 4px;
	height: 4px;
	background: currentColor;
	border-radius: 50%;
	display: inline-block;
	margin: 0px 8px;
	top: -3px;
}
