// UserMedia.module.css

.flex-card-container {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	justify-content: center;
}

.media-card {
	position: relative;
	width: 450px;
	height: 250px;
	background-color: #0b1622;
	padding: 16px;
	isolation: isolate;
	border-radius: 5px;
	display: flex;
	overflow: hidden;
	gap: 10px;
	box-sizing: border-box;
}

.card-banner {
	position: absolute;
	object-fit: cover;
	width: 100%;
	height: 100%;
	inset: 0px;
	opacity: 15%;
	z-index: -1;
	user-select: none;
	pointer-events: none;
}

.cover-container {
	position: relative;
	height: 100%;
	aspect-ratio: 2/3;
	overflow: hidden;
	border-radius: 5px;
	box-shadow: inset 0 -60px 0px -20px #000000cc;
	flex-shrink: 0;
	padding: 10px;
	box-sizing: border-box;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;

	.repeat {
		grid-column: 2/3;
		justify-self: end;
	}

	.episodes {
		grid-row: 2/3;
		align-self: end;
	}

	.score {
		grid-row: 2/3;
		grid-column: 2/3;
		align-self: end;
		justify-self: end;
	}
}

.media-cover-image {
	position: absolute;
	height: 100%;
	width: 100%;
	inset: 0px;
	object-fit: cover;
	border-radius: 5px;
	z-index: -1;
}

.media-repeat-container {
	background: #000000b3;
	height: max-content;
	width: max-content;
	padding: 2px 5px;
	border-radius: 5px;
	font-weight: 500;
	font-size: 12px;

	svg {
		position: relative;
		fill: white;
		margin-left: 5px;
		top: 1px;
	}
}

.title {
	margin: 0px;
	font-size: 18px;
	font-weight: 600;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	height: max-content;
	text-wrap: balance;
	flex-shrink: 0;
}

.rightContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.users {
	position: relative;
	width: calc(100% + 8px);
	height: 100%;
	overflow: auto;
	display: flex;
	flex-direction: column;
	gap: 3px;
	padding-right: 8px;
	box-sizing: border-box;
	scrollbar-width: thin;

	&::-webkit-scrollbar {
		width: 6px;
	}

	&::-webkit-scrollbar-thumb {
		background: #646464;
		border-radius: 10px;
	}

	&::-webkit-scrollbar-thumb:hover {
		background: #949494;
	}
}

.listName {
	margin: 0px;
	opacity: 0.8;
}

.row {
	position: relative;
	width: 100%;
	height: 25px;
	display: grid;
	grid-template-columns: 25px auto 40px 40px;
	grid-template-rows: 100%;
	gap: 5px;
	align-items: center;

	.repeat {
		justify-self: end;
	}

	.name {
		width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		opacity: 90%;
	}

	.score {
		grid-column: 4/5;
		justify-self: end;
	}
}

.avatar {
	height: 100%;
	position: relative;
	aspect-ratio: 1/1;
	object-fit: cover;
}

.info {
	font-weight: 600;
	opacity: 90%;
}

.format::after {
	position: relative;
	content: "";
	width: 4px;
	height: 4px;
	background: currentColor;
	border-radius: 50%;
	display: inline-block;
	margin: 0px 8px;
	top: -3px;
}

.loading {
	opacity: 0.5;

	.circle-loading {
		opacity: 1;
		transition: opacity 0.2s ease-in-out;
	}
}

.circle-loading {
	position: absolute;
	display: inline-block;
	margin-top: 45px;
	width: 64px;
	height: 64px;
	z-index: 1;
	opacity: 0;

	div {
		position: absolute;
		box-sizing: border-box;
		width: 100%;
		height: 100%;
		border: 8px solid #fff;
		border-radius: 50%;
		animation: loadingRotate 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
		border-color: #fff transparent transparent transparent;
		transform: rotate(0deg);

		@for $i from 1 through 3 {
			&:nth-child(#{$i}) {
				animation-delay: -600ms + 150ms * $i;
			}
		}
	}
}

@keyframes loadingRotate {
	to {
		transform: rotate(360deg);
	}
}
