.media-card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 16px;
}

.media-card {
	position: relative;
	display: flex;
	background-color: #0b1622;
	width: 450px;
	height: 250px;
	gap: 10px;
	padding: 16px;
	border-radius: 5px;
	isolation: isolate;
	box-sizing: border-box;
	overflow: hidden;
}
.media-is-loading .media-card {
	opacity: 0.5;
	filter: grayscale(50%);
}

.card-banner {
	position: absolute;
	object-fit: cover;
	width: 100%;
	height: 100%;
	inset: 0px;
	opacity: 15%;
	z-index: -1;
	user-select: none;
	pointer-events: none;
}

.cover-container {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	aspect-ratio: 2/3;
	height: 100%;
	border-radius: 5px;
	padding: 10px;
	flex-shrink: 0;
	box-shadow: inset 0 -60px 0px -20px #000000cc;
	box-sizing: border-box;

	.media-repeat-container,
	.score {
		grid-column: 2/3;
		justify-self: end;
	}

	.episodes,
	.score {
		grid-row: 2/3;
		align-self: end;
	}
}
.media-cover-image {
	position: absolute;
	height: 100%;
	width: 100%;
	inset: 0px;
	object-fit: cover;
	border-radius: 5px;
	z-index: -1;
}

.media-repeat-container {
	background: #000000b3;
	height: max-content;
	width: max-content;
	padding: 2px 5px;
	border-radius: 5px;
	font-weight: 500;
	font-size: 12px;
	justify-self: end;

	svg {
		position: relative;
		fill: white;
		margin-left: 5px;
		top: 1px;
	}
}

.media-right-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 5px;

	.media-title {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		font-size: 18px;
		font-weight: 600;
		height: max-content;
		margin: 0px;
		flex-shrink: 0;
		overflow: hidden;
		text-wrap: balance;
	}

	.user-score-container {
		position: relative;
		display: flex;
		flex-direction: column;
		gap: 3px;
		height: 100%;
		width: calc(100% + 8px);
		padding-right: 8px;
		overflow: auto;
		scrollbar-width: thin;
		box-sizing: border-box;

		&::-webkit-scrollbar {
			width: 6px;
		}

		&::-webkit-scrollbar-thumb {
			background: #646464;
			border-radius: 10px;
		}

		&::-webkit-scrollbar-thumb:hover {
			background: #949494;
		}
	}

	.list-name {
		opacity: 0.8;
	}
}

.media-user {
	display: grid;
	gap: 5px;
	height: 25px;
	grid-template-columns: 25px auto 40px 40px;
	grid-template-rows: 100%;
	align-items: center;

	.name {
		width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		opacity: 90%;
	}

	.score {
		grid-column: 4/5;
		justify-self: end;
	}
}
.profile-picture {
	height: 100%;
	position: relative;
	aspect-ratio: 1/1;
	object-fit: cover;
}

.media-info {
	font-weight: 600;
	opacity: 90%;
}

.format::after {
	position: relative;
	content: "";
	width: 4px;
	height: 4px;
	background: currentColor;
	border-radius: 50%;
	display: inline-block;
	margin: 0px 8px;
	top: -3px;
}

.media-is-loading .loading-circle {
	opacity: 1;
	transition: opacity 0.2s ease-in-out;
}

.loading-circle {
	position: absolute;
	display: inline-block;
	margin-top: 45px;
	width: 64px;
	height: 64px;
	z-index: 1;
	opacity: 0;

	div {
		position: absolute;
		box-sizing: border-box;
		width: 100%;
		height: 100%;
		border: 8px solid #fff;
		border-radius: 50%;
		animation: loading-circle-rotate 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
		border-color: #fff transparent transparent transparent;
		transform: rotate(0deg);

		@for $i from 1 through 3 {
			&:nth-child(#{$i}) {
				animation-delay: -600ms + 150ms * $i;
			}
		}
	}
}

@keyframes loading-circle-rotate {
	to {
		transform: rotate(360deg);
	}
}
