.flex {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	justify-content: center;
}

.media {
	position: relative;
	width: 400px;
	height: 200px;
	background-color: #0B1622;
	padding: 16px;
	isolation: isolate;
	border-radius: 5px;
	display: flex;
	overflow: hidden;
	gap: 5px;
}

.banner {
	position: absolute;
	object-fit: cover;
	width: 100%;
	height: 100%;
	inset: 0px;
	opacity: 15%;
	z-index: -1;
	user-select: none;
	pointer-events: none;
}

.coverContainer {
	position: relative;
	height: 100%;
	aspect-ratio: 2/3;
	overflow: hidden;
	border-radius: 5px;
	box-shadow: inset 0 -60px 0px -20px #000000cc;
	flex-shrink: 0;
	padding: 10px;
	box-sizing: border-box;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

.coverContainer p {
	margin: 0px;
}

.cover {
	position: absolute;
	height: 100%;
	width: 100%;
	inset: 0px;
	object-fit: cover;
	border-radius: 5px;
	z-index: -1;
}

.repeat {
	grid-column: 2/3;
	background: #000000b3;
	height: max-content;
	width: max-content;
	justify-self: end;
	padding: 2px 5px;
	border-radius: 5px;
	font-weight: 500;
	font-size: 12px;
}

.repeat svg {
	position: relative;
	fill: white;
	margin-left: 5px;
	top: 1px;
}

.episodes {
	grid-row: 2/3;
	align-self: end;
}

.score {
	grid-row: 2/3;
	align-self: end;
	justify-self: end;
}

.title {
	margin: 0px;
	font-size: 18px;
	font-weight: 600;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	height: max-content;
	text-wrap: balance;
}