.center {
	display: flex;
	place-items: center;
	gap: 5px;
}

.hamburger {
	position: relative;
	width: 25px;
	aspect-ratio: 1/1;
	display: grid;
	place-items: center;
	box-sizing: border-box;
	padding: 2px;
}

.hamburger::after {
	content: "";
	position: relative;
	width: 100%;
	color: #0000007a;
	height: 4px;
	border-radius: 5px;
	background: currentColor;
	box-shadow: 0px 7px currentColor, 0px -7px currentColor;
}

.trash {
	position: relative;
	width: 25px;
	height: 100%;
	display: grid;
	place-items: center;
}

table {
	border-spacing: 0px 5px;
	--_border-radius: 5px;
	--_body-padding: 7px;
	--_heading-padding: 10px;
}

thead {
	text-align: left;
	top: 5px;
	position: relative;
}

th {
	padding: var(--_heading-padding, 10px) var(--_body-padding, 10px);
	background: #0B1622;
}

th:first-of-type {
	border-radius: var(--_border-radius, 10px) 0 0 0;
}

th:last-of-type {
	border-radius: 0 var(--_border-radius, 10px) 0 0;
}

tbody tr {
	position: relative;
}



td {
	padding: var(--_body-padding, 10px);
	background: #151f2e;
}

tbody tr:first-of-type td:first-of-type {
	border-radius: 0 0 0 var(--_border-radius, 10px);
}

tbody tr:first-of-type td:last-of-type {
	border-radius: 0 0 var(--_border-radius, 10px) 0;
}

td:first-of-type {
	border-radius: var(--_border-radius, 10px) 0 0 var(--_border-radius, 10px);
}

td:last-of-type {
	border-radius: 0 var(--_border-radius, 10px) var(--_border-radius, 10px) 0;
}

.exclude {
	text-align: end;
}

.close {
	padding: var(--_body-padding, 10px) 0px;
}

.paddingRight {
	padding-right: 15px;
}

.disabled {
	position: relative;
	filter: grayscale(30%);
	opacity: 50%;
}

.disabled:after {
	content: "";
	position: absolute;
	width: calc(100% - 102px);
	height: 5px;
	background: #ffffff47;
	top: 50%;
	right: 5px;
	pointer-events: none;
	backdrop-filter: blur(2px);
	transform: translateY(-50%);
	border-radius: 10px;
}