:root {
	--color-scheme: dark;

	--ff-base: system-ui;

	--fw-500: 500;
	--fw-600: 600;
	--fw-700: 700;

	--fs-300: clamp(0.94rem, calc(0.92rem + 0.08vw), 0.98rem);
	--fs-400: clamp(1.13rem, calc(1.06rem + 0.33vw), 1.31rem);
	--fs-500: clamp(1.35rem, calc(1.21rem + 0.69vw), 1.75rem);
	--fs-600: clamp(1.62rem, calc(1.37rem + 1.24vw), 2.33rem);
	--fs-700: clamp(1.94rem, calc(1.54rem + 2.03vw), 3.11rem);
	--fs-800: clamp(2.33rem, calc(1.7rem + 3.15vw), 4.14rem);
	--fs-900: clamp(2.8rem, calc(1.85rem + 4.74vw), 5.52rem);

	--clr-highlight-500: #fffc;
	--clr-shadow-500: #000000bf;
	--clr-shadow-100: black;
}

html {
	color-scheme: var(--color-scheme);
	font-size: 10px;
}

body {
	font-family: var(--ff-base);
	font-size: var(--fs-500);
}

:where(*, *::before, *::after) {
	box-sizing: border-box;
}

:where(svg) {
	fill: currentColor;
}
